.blog-navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px;
    gap: 10px;
}

.blog-navbar .search {
    grid-column: 1 / span 2;
    grid-row: 2;
    min-width: 100%;
}

.blog-navbar .search input {
    width: 100%;
    padding: 10px 20px 10px 50px;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 20px;
}

.blog-navbar .search img {
    left: 20px;
}

.blog-navbar .logo {
    justify-content: flex-start;
}

.blog-navbar__right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.blog-navbar__right button {
    position: relative;
    padding: 0 5px;
}

.blog-navbar .menu {
    padding: 10px 20px;
    position: absolute;
    top: 101%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: white;
    border-radius: 5px;
    border: 2px solid black;
}

.blog-navbar .menu a:hover {
    color: black;
}


@media screen and (min-width: 620px) {
    .blog-navbar {
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-navbar .search {
        grid-column: unset;
        grid-row: unset;
    }

    .blog-navbar .logo {
        justify-content: center;
    }
}

