.pass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(10, 45, 77, 1);
}

.pass {
    max-width: 600px;
    padding: 50px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    color: white;
    gap: 10px;
}

.pass-output {
    height: min-content;
    /*overflow-y: hidden;*/
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 6px;
    color: #333;
    text-align: center;
    -webkit-user-select: text;
    user-select: text;
    word-break: break-all;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.pass-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pass-input-row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pass-input select, .pass-input .pass-copy-btn {
    height: 50px;
    padding: 10px 20px;
    width: 100%;
    background: transparent;
    border: 2px solid hsla(0, 0%, 100%, .2);
    border-radius: 30px;
    color: #fff;
    font-size: 1rem;
    letter-spacing: -.01rem;
    line-height: 1.5;
    outline: none;
    appearance: none;
    cursor: pointer;
    white-space: nowrap;
}

.pass-input .pass-copy-btn {
    flex: 1 1 50%;
    background-color: #0458b9;
}

.pass-input .pass-reset-btn {
    white-space: nowrap;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pass-input select option {
    background: rgba(10, 45, 77, 1);
}

.select-wrapper {
    flex: 1 1 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.select-wrapper select {
    padding-right: 30px;
}

.select-wrapper:after {
    content: '>';
    color: white;
    font: 17px "Consolas", monospace;
    transform: rotate(90deg);
    position: absolute;
    right: 15px;
}

.copy-indicator-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-indicator {
    background-color: #ffd480;
    padding: 4px 16px;
    border-radius: 4px;
    color: black;
}

.copy-indicator.copied {
    background-color: #abfccb;
}

.bonus-options {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.bonus-options .range {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bonus-options .range span {
    min-width: 3ch;
}

.digit {
    color: #0572ec;
}

.symbol {
    color: #e64a4a;
}

.old-passwords-wrapper {
    color: white;
    text-align: center;
    font-size: 20px;
}

.old-passwords {
    font-size: 16px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}
